body {
    background-color: rgb(10, 1, 136);
    color: white;
}

h1 {
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    font-style: italic;
}

#weatherContainer {
    background-color: rgb(0, 0, 0);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex: auto;
    justify-content: center;
}

#weatherContainer | p {
    background-color: rgb(255, 0, 0);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex: auto;
    justify-content: center;

}

#fiveDayForecast{
    background-color: rgb(255, 0, 0);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: center;
}